page-koulchi {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
        .card-title1 {
            position: absolute;
            top: 25%;
            font-size: 1.5em;
            width: 100%;
            font-weight: bold;
            color: rgb(43, 43, 43);
        }
        .card-title2 {
            position: absolute;
            top: 25%;
            font-size: 1.5em;
            width: 100%;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
        .card-title3 {
            position: absolute;
            top: 25%;
            font-size: 2.5em;
            width: 100%;
            font-weight: bold;
            color: #222;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
}