    page-home {
        #goToPageKoulchi {
            display: block;
            margin: 20px auto;
        }
        #heart {
            font-size: 150px;
            color: #e00;
            animation: beat .30s infinite alternate;
            transform-origin: center;
        }
        /* Heart beat animation */
        @keyframes beat {
            to {
                transform: scale(1.4);
            }
        }
    }